* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

.topic {
  display: flex;
  justify-content: center;
  font-size: 50px;
  background-color: rgb(240, 240, 237);
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 50px;
  border: 1px solid black;
  background-color: rgb(240, 240, 237);
}

.box {
  background-color: blue;
  width: 400px;
  height: 120px;
  border-radius: 5px;
}
.box1 {
  background: #009879;
  margin: 10px;
}

.box2 {
  background: #046ed1;
  margin: 10px;
}
.box3 {
  background: #505451;
  margin: 10px;
}
.box4 {
  background: #abb313;
  margin: 10px;
}
.box5 {
  background: #cc2702;
  margin: 10px;
}
.card-text {
  font-size: 25px;
}
p {
  float: right;
  margin-top: 30px;
  font-size: 30px;
}
p,
.card-text {
  color: white;
}

.content-table {
  border-collapse: collapse;
  margin: 65px 0;
  font-size: 0.9em;
  min-width: 1000px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table {
  margin-left: 22%;
}
.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.tableall {
  display: flex;
  justify-content: space-between;
  padding-left: 22%;
}

.table1 .content-table thead tr {
  background-color: #046ed1;
}
.table2 .content-table thead tr {
  background-color: #505451;
}
.table3 .content-table thead tr {
  background-color: #abb313;
}
.table4 .content-table thead tr {
  background-color: #cc2702;
}

.table2,
.table3,
.table4 {
  padding-inline: 29px;
}

/* SEARCH BAR */
.search {
  width: 30%;
  position: relative;
  display: flex;
  margin-left: 35%;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00343c;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #0f834d;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #033d44;
  background: #013e46;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .box {
    width: 100%;
  }
}
